/* Секція контейнера */
.timer-container {
  display: flex;
  width: auto;
  height: 496px;
  padding: 36px 156px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  overflow: visible;
}


.timer-block {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 370px;
}

/* Інпут і кнопка */
.datetime-wrapper {
  display: flex;
  gap: 8px;
}

/* Інпут */
.datetime-input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2E2F42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 0 16px;
}

.datetime-input:hover {
  border: 1px solid #000;
}

.datetime-input:focus {
  border: 1px solid #4E75FF;
  outline: none;
}

.datetime-input:disabled {
  background: #FAFAFA;
  border: 1px solid #808080;
  color: #808080;
}

/* Кнопка */
.start-btn {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4E75FF;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.start-btn:hover:not(:disabled) {
  background: #6C8CFF;
  color: #ffffff;
}

.start-btn:disabled {
  background: #CFCFCF;
  color: #989898;
  cursor: not-allowed;
}

/* Таймер */
.timer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.value {
  color: #2E2F42;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.6px;
}

.label {
  color: #2E2F42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* Контейнер календаря */
.flatpickr-calendar {
  border-radius: 8px;
  background: #F5F5F5;
  padding: 16px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-shadow: none;
  border: none;
  margin-top: 8px;
  font-family: Montserrat, sans-serif;
  width: auto;
}

.flatpickr-innerContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.flatpickr-months {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  gap: 28px;
}

.flatpickr-prev-month svg,
.flatpickr-next-month svg {
  width: 16px;
  height: 16px;
  fill: #2E2F42;
}

.flatpickr-days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 248px;
  height: auto;
  box-sizing: border-box;
}

.flatpickr-day {
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  color: #666;
  box-sizing: border-box;
}

.flatpickr-day:hover {
  background: #E0E0E0;
  cursor: pointer;
  border: #4E75FF 1px solid;
}

/* Лінія */
.flatpickr-time-separator {
  width: 100%;
  border-top: 1px solid #C1C1C1;
  padding-top: 16px;
}

/* Блок часу */
.flatpickr-time {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  color: #333;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.flatpickr-time input,
.flatpickr-time .flatpickr-time-separator {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: normal !important;
  letter-spacing: 0.64px !important;
  color: #333 !important;
  text-align: center !important;
}
