/* Секція контейнера */
.timer-container {
  display: flex;
  width: 1440px;
  height: 496px;
  padding: 36px 929px 316px 156px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}


/* Інпут і кнопка */
.datetime-wrapper {
  display: flex;
  gap: 8px;
}

/* Інпут */
.datetime-input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2E2F42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 0 16px;
}

.datetime-input:hover {
  border: 1px solid #000;
}

.datetime-input:focus {
  border: 1px solid #4E75FF;
  outline: none;
}

.datetime-input:disabled {
  background: #FAFAFA;
  border: 1px solid #808080;
  color: #808080;
}

/* Кнопка */
.start-btn {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4E75FF;
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.start-btn:hover:not(:disabled) {
  background: #6C8CFF;
}

.start-btn:disabled {
  background: #CFCFCF;
  color: #989898;
  cursor: not-allowed;
}

/* Таймер */
.timer {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.field {
  text-align: center;
}

.value {
  color: #2E2F42;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.6px;
}

.label {
  color: #2E2F42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
